# editor
/.idea
# language
/.cargo
#testing
testing/macroTest/__pycache__
testing/.venv
testing/__pycache__
/.pytest_cache
# build
/target
/target/.rustc_info.json
#personal testing
src/compiler/linked_list_for_later_use
